# File: parameter_sweep_config.yaml
parameter_sweeps:
  - method: QSA
    #c: [1.0]
    #c: [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0 ]
    c: [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0]
    max_iter: [500]

  - method: InteriorPoint
    #c: [1.0]
    #c: [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0 ]
    c: [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0]
    max_iter: [500]
    
  - method: Manifold
    #c: [1.0]
    #c: [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0 ]
    c: [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0]
    optimizer: ["steepest_descent"]
    max_iter: [500]
    
  - method: OrthogonalRelaxation
    c: [0.001, 0.01, 0.1, 10]
    max_iter: [3000]
    initial_tau: [0.3, 0.5, 0.7]
    final_tau: [null]
    #loss: ["convex", "indefinite"]
    loss: ["convex"]
    annealing_scheme: ["cosine"]
    
  - method: DimensionalityReduction
    c: [0.001, 0.01, 0.1, 10]
    max_iter: [5000]
    initial_tau: [0.1, 1, 10]
    final_tau: [null]
    #loss: ["convex", "indefinite"]
    loss: ["convex"]
    annealing_scheme: ["cosine"]

  #- method: OrthogonalRelaxation
  #  c: [0.001, 0.01, 0.1, 10]
  #  max_iter: [3000]
  #  initial_tau: [0.7]
  #  final_tau: [0.1]
  #  loss: ["convex", "indefinite"]
  #  annealing_scheme: ["cosine"]
  #  
  #- method: DimensionalityReduction
  #  c: [0.001, 0.01, 0.1, 10]
  #  max_iter: [5000]
  #  initial_tau: [10]
  #  final_tau: [0.1]
  #  loss: ["convex", "indefinite"]
  #  annealing_scheme: ["cosine"]

# Global parameters
global_params:
  num_runs: 5
  num_workers: 1  # Keep at 1 for cluster execution
